.row
  .col-md-4.align-self-end
    %table
      %tr
        %td
          = @user.follow_count
        %td
          = @user.followers_count
      %tr
        %td
          .bukvi
            follows
        %td
          .bukvi
            followers