.row
  .col-md-4
  .col-md-4.fon
    %h2
      Edit profile
    = simple_form_for(@user) do |f|
      = f.input :username

      = f.input :avatar
      = f.button :submit, class:'btn btn-outline-primary'