.row
  .col-md-8.offset-md-2
    .posts-section
      = render(partial: 'posts/partials/post', collection: @posts)
    .posts-pagination
      = link_to_next_page(@posts, 'Load more', remote: true, class: 'next-page')
